### OSX Vendor Configs ###
.DS_Store
*._DS_Store
._.DS_Store
*._
._*
._.*

### Windows Vendor Configs ###
Thumbs.db

### Sass ###
#bower_components/*
/.sass-cache/*
.sass-cache

### Sublimt Text Vendor Configs ###
*.sublime-workspace

### NetBeans Configs
/nbproject

### PHP Storm Vendor Configs ###
.idea/*
/.idea/*
.phpintel/*
/.phpintel/*

### VS Code Vendor Configs ###
/.vscode

### Vagrant/Homestead Vendor Configs ###
/.vagrant
Homestead.yaml
Homestead.json
Vagrantfile
after.sh
aliases
make-folder.sh

### Master Configs ###
.env
composer.lock
/routes/dynamic-web.php

### Assets ###
/node_modules
/public/hot
/public/storage
/public/vendor/
/storage/*.key
/vendor
/storage/*
/routes/dynamic-routes/
/environments/*
packages/

# Debug Files
npm-debug.log
yarn-error.log
/public/images/library/assets/*
/public/photos/*